@model flowers.web.ViewModel.Flowers.FlowerDetailView
<section>
    <h1>ALL FLOWERS</h1>
    <div>
       
        <div>
            <img src="@Model.ImageUrl" alt="@Model.Name">
            <div><span>@Model.Name</span>&nbsp;<span>@Model.Height</span><span>@Model.Color</span></div>
            <div></div>
        </div>
        
    </div>

</section>