@model IList<flowers.web.ViewModel.Flowers.FlowerListView>
<section class="page">
    <h1 class="page-title">ALL FLOWERS</h1>
    <div class="gallery-wrapper">
        @foreach (var flower in Model)
        {
            <div class="gallery-card">
                <div><span>@flower.Name</span></div>
                <img src="@flower.ImageUrl">
                <div>@flower.Family</div>
                <div>Height: <span>@flower.Height</span>&nbsp;Color: <span>@flower.Color</span>&nbsp;FlowerId: <span>@flower.Id</span></div>
                <div class="buttons-container">
                    <a class="btn btn-dark" asp-action="detail" asp-controller="flowers" asp-route-id="@flower.Id">Se
                        mer</a>
                    
                </div>
            </div>
        }
    </div>



</section>